{% extends "base.html" %} {% block title %} Main Page {% endblock %} {% block head %}
    <style>
        .box:last-child {
            margin-bottom: 1.5rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
{% endblock %} {% block content %}
    <div class="container mt-5">
        <h1 class="title">Weather in {{ city }}</h1>
        <h2 class="subtitle">Stay updated with the latest weather info</h2>
    </div>

    <section class="section">
        <div class="container">
            <div class="box" id="today's weather">
                <h3 class="title is-4">Today's Weather</h3>
                <p class="subtitle is-6">{{ current_time }}</p>
                <div class="grid ">
                    <div class="cell box is-flex is-align-items-center is-justify-content-center is-col-span-2 is-row-span-2">
                        <div class="has-text-centered">
                        <span class="icon is-large my-5">
                            <i class="fas {{ current_weather_code_icon }} fa-7x"></i>
                        </span>
                            <p class="title is-3 my-5">{{ current_weather_code_desc }}</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Temperature</p>
                            <span class="icon has-text-primary is-large my-1">
                            <i class="fas fa-thermometer-half fa-3x"></i>
                        </span>
                            <p class="my-1">{{ current_temperature }}°C</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Feels as</p>
                            <span class="icon has-text-primary is-large my-1">
                            <i class="fas fa-temperature-low fa-3x"></i>
                        </span>
                            <p class="my-1">{{ current_apparent_temperature }}°C</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Humidity</p>
                            <span class="icon has-text-info is-large my-1">
                            <i class="fas fa-tint fa-3x"></i>
                        </span>
                            <p class="my-1">{{ current_humidity }}%</p>
                        </div>
                    </div>

                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Precipitation</p>
                            <span class="icon has-text-info is-large my-1">
                            <i class="fas fa-cloud-showers-heavy fa-3x"></i>
                        </span>
                            <p class="my-1">{{ current_precipitation }} mm</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Cloud Cover</p>
                            <span class="icon has-text-light is-large my-1">
                            <i class="fas fa-cloud fa-3x"></i>
                        </span>
                            <p class="my-1">{{ current_cloud_cover }}%</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Wind Speed</p>
                            <span class="icon has-text-link is-large my-1">
                            <i class="fas fa-wind fa-3x"></i>
                        </span>
                            <p class="my-1">{{ current_wind_speed }} km/h</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Pressure</p>
                            <span class="icon has-text-link is-large my-1">
                            <i class="fas fa-tachometer-alt fa-3x"></i>
                        </span>
                            <p class="my-1">{{ current_surface_pressure }} hPa</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Fish activity</p>
                            <span class="icon has-text-link is-large my-1">
                            <i class="fa-solid fa-fish-fins fa-3x"></i>
                        </span>
                            <p class="my-1">{{ fish_activity }}%</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">UV index</p>
                            <span class="icon  is-large my-1">
                            <i class="fa-solid fa-glasses fa-3x"></i>
                        </span>
                            <p class="my-1">{{ uv_index }}</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Sun time</p>
                            <span class="icon has-text-info is-large my-1">
                            <i class="fa-solid fa-solar-panel fa-3x"></i>
                        </span>
                            <p class="my-1">{{ daylight_duration }}h</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Sunrise</p>
                            <span class="icon has-text-link is-large my-1">
                            <i class="fa-solid fa-sun-plant-wilt fa-3x"></i>
                        </span>
                            <p class="my-1">{{ sunrise }}</p>
                        </div>
                    </div>
                    <div class="cell box is-flex is-align-items-center is-justify-content-center">
                        <div class="has-text-centered">
                            <p class="is-size-5 my-1">Sunset</p>
                            <span class="icon has-text-warning is-large my-1">
                            <i class="fa-solid fa-moon fa-3x"></i>
                        </span>
                            <p class="my-1">{{ sunset }}</p>
                        </div>
                    </div>
                </div>
                <div class="box" id>
                    <h3 class="title is-4">Hourly</h3>
                    <div class="owl-carousel owl-theme">
                        {% for time, temp, precipitation, weather_code_desc, weather_code_icon in hourly_data %}
                            {#                    <p class="">{{ time }} {{ temp }} {{ precipitation }} {{ weather_code_desc }} {{ weather_code_icon }}</p>#}
                            <div class="cell item box is-flex is-align-items-center is-justify-content-center">
                                <div class="has-text-centered">
                                    <p class="is-size-6 my-1">at {{ time }}:00</p>
                                    <span class="icon is-large my-1">
                                <i class="fas {{ weather_code_icon }} fa-3x"></i>
                            </span>
                                    <p class="my-1"><i class="fa-solid fa-temperature-three-quarters"></i> {{ temp }}°C
                                    </p>
                                    <p><i class="fa-solid fa-droplet"></i> {{ precipitation }}%</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="box" id="forecast">
                <h3 class="title is-4">7-Day Weather Forecast</h3>
                <div class="grid">
                    {% for timestamp, weather_codes_icon, weather_codes_desc, min_of_the_day, max_of_the_day, sunrise, sunset, precipitation_sum, precipitation_hours, precipitation_probability in daily_data %}
                        <div class="cell box is-flex is-align-items-center is-justify-content-center">
                            <div class="has-text-centered">
                                <p class="is-size-5 my-1">{{ timestamp }}</p>
                                <span class="icon has-text-primary is-large my-3">
                                <i class="fas {{ weather_codes_icon }} fa-3x"></i>
                            </span>
                                <p class="my-1 is-size-6"><i class="fa-solid fa-moon"></i> {{ min_of_the_day }}°C - <i
                                        class="fa-solid fa-sun"></i> {{ max_of_the_day }}°C </p>
                                <p class="my-1 is-size-6"><i
                                        class="fa-solid fa-cloud-showers-water"></i> {{ precipitation_probability }}%
                                    ({{ precipitation_sum }}mm)</p>
                                <p class="my-1 is-size-6"><i class="fa-solid fa-arrow-trend-up"></i> {{ sunrise }} <i
                                        class="fa-solid fa-arrow-trend-down"></i> {{ sunset }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="box" id="map">
                <h3 class="title is-4">Real time map</h3>
                <iframe width="100%" frameborder="0" style="border:0;height:50vh;"
                        src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=mm&metricTemp=°C&metricWind=m/s&zoom=9&overlay=radar&product=radar&level=surface&lat=54.327&lon=18.669&message=true"
                        frameborder="0"></iframe>

            </div>

        </div>
    </section>

{% endblock %} {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        var owl = $('.owl-carousel');
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 2,
                    },
                    600: {
                        items: 5,
                    },
                    1000: {
                        items: 7,
                    },
                },
            });
        });
        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY > 0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });
    </script>
{% endblock %}
